NODE_ENV=development

APP_URL=http://localhost:5173

DATABASE_URL=postgresql://postgres:postgres@localhost:5432/xiao_erp_db

GOOGLE_CLIENT_SECRET=
GOOGLE_CLIENT_ID=

CRON_SECRET=

GOOGLE_APP_EMAIL=
GOOGLE_APP_PASSWORD=
PORT=5173

DEMO_MODE=true

YUAN_IDR_RATE_API=